rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.rol == 'admin';
    }

    match /users/{userId} {
      allow read: if isSignedIn() && (request.auth.uid == userId || isAdmin());
      allow create: if isAdmin() || (isSignedIn() && request.auth.uid == userId);
      allow update: if isAdmin() || (isSignedIn() && request.auth.uid == userId);
      allow delete: if isAdmin();
    }

    match /cursos/{cursoId} {
      allow read: if isSignedIn();
      allow write: if isAdmin();

      match /inscripciones/{userId} {
        allow read: if isSignedIn();
        allow write: if isAdmin();
      }
    }

    match /{path=**}/inscripciones/{userId} {
      allow read: if isSignedIn();
    }

    match /horarios/{horarioId} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    match /avances/{avanceId} {
      allow read: if isSignedIn() && (resource.data.userId == request.auth.uid || isAdmin());
      allow create: if isSignedIn() && request.resource.data.userId == request.auth.uid;
      allow update, delete: if isAdmin();
    }
  }
}
